
argparse~=1.4.0
setuptools~=72.1.0

# How can I add FSL to the requirements? It cannot be installed using pip install :(
# FSL~=6.0.7.12   # https://fsl.fmrib.ox.ac.uk/fsl/docs/#/install/index

# ---------------------
# NOT REQUIRED ANYMORE:
# numpy~=2.0.1
# nibabel~=5.2.1
# SimpleITK~=2.3.1